.Landing {
  text-align: center;
}

.Landing-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Landing-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Landing-contents {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: white;
  gap: 2em;
}

.Landing-link {
  color: #61dafb;
}

@keyframes Landing-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Sign-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Sign {
  font-size: 1rem;
}

.Sign-form {
  color: rgb(95, 95, 95);
}

.Sign .Sign-link {
  color: #bf54fa;
}

.Sign-password {
  display: flex;
  flex-direction: column;
}

.Sign-signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.Sign-password-bottom {
  display: flex;
  justify-content: space-between;
}

.Sign-signin-button {
  width: 30%;
}
