.collapsible-bar-content {
  background-color: #121417;
  color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

