.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Link {
  color: var(--bs-secondary);
}
.Link:focus {
  box-shadow: none;
}

@media print {
  html,
  body {
     display: none;
  }
}